# Importação das bibliotecas usadas

In [33]:
import pandas as pd

# Leitura dos dados

In [34]:
covidData = pd.read_csv('covid19-data.csv')

# Exploração dos dados

In [35]:
covidData.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

## Colunas do dataset
- sex: 1 for female and 2 for male.
- age: of the patient.
- classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different
- degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.
- patient type: type of care the patient received in the unit. 1 for returned home and 2 for hospitalization.
- pneumonia: whether the patient already have air sacs inflammation or not.
- pregnancy: whether the patient is pregnant or not.
- diabetes: whether the patient has diabetes or not.
- copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.
- asthma: whether the patient has asthma or not.
- inmsupr: whether the patient is immunosuppressed or not.
- hypertension: whether the patient has hypertension or not.
- cardiovascular: whether the patient has heart or blood vessels related disease.
- renal chronic: whether the patient has chronic renal disease or not.
- other disease: whether the patient has other disease or not.
- obesity: whether the patient is obese or not.
- tobacco: whether the patient is a tobacco user.
- usmr: Indicates whether the patient treated medical units of the first, second or third level.
- medical unit: type of institution of the National Health System that provided the care.
- intubed: whether the patient was connected to the ventilator.
- icu: Indicates whether the patient had been admitted to an Intensive Care Unit.
- date died: If the patient died indicate the date of death, and 9999-99-99 otherwise.

In [36]:
covidData.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

## Descrição das colunas

In [37]:
covidData.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00,2.260569e+00,2.242626e+00,2.298132e+00,2.128989e+00,2.435143e+00,2.261810e+00,2.125176e+00,2.257180e+00,2.214333e+00,5.305653e+00,7.955397e+01
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00,5.132258e+00,5.114089e+00,5.462843e+00,5.236397e+00,6.646676e+00,5.194850e+00,5.175445e+00,5.135354e+00,5.323097e+00,1.881165e+00,3.682307e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,9.700000e+01
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,7.000000e+00,9.900000e+01

# 4 - Mostre a distribuição de frequência de todas as variáveis (frequência e porcentagem)

In [38]:
distributions = {}

for col in covidData.columns:
    freq = covidData[col].value_counts()
    percent = (freq / freq.sum()) * 100
    
    temporaryDataFrame = pd.DataFrame({'Frequência': freq, 'Porcentagem': percent})
  
    distributions[col] = temporaryDataFrame

distributionsData = pd.concat(distributions, axis=1)
distributionsData

         USMER             MEDICAL_UNIT                    SEX
    Frequência Porcentagem   Frequência Porcentagem Frequência Porcentagem
2     662903.0   63.219417        169.0    0.016117   523511.0   49.925947  \
1     385672.0   36.780583        151.0    0.014400   525064.0   50.074053
12         NaN         NaN     602995.0   57.506139        NaN         NaN
4          NaN         NaN     314405.0   29.984026        NaN         NaN
6          NaN         NaN      40584.0    3.870396        NaN         NaN
..         ...         ...          ...         ...        ...         ...
114        NaN         NaN          NaN         NaN        NaN         NaN
116        NaN         NaN          NaN         NaN        NaN         NaN
111        NaN         NaN          NaN         NaN        NaN         NaN
121        NaN         NaN          NaN         NaN        NaN         NaN
113        NaN         NaN          NaN         NaN        NaN         NaN

    PATIENT_TYPE              DATE_DIED              ...    OBESITY
      Frequência Porcentagem Frequência Porcentagem  ... Frequência
2       200031.0   19.076461        NaN         NaN  ...   885727.0  \
1       848544.0   80.923539        NaN         NaN  ...   159816.0
12           NaN         NaN        NaN         NaN  ...        NaN
4            NaN         NaN        NaN         NaN  ...        NaN
6            NaN         NaN        NaN         NaN  ...        NaN
..           ...         ...        ...         ...  ...        ...
114          NaN         NaN        NaN         NaN  ...        NaN
116          NaN         NaN        NaN         NaN  ...        NaN
111          NaN         NaN        NaN         NaN  ...        NaN
121          NaN         NaN        NaN         NaN  ...        NaN
113          NaN         NaN        NaN         NaN  ...        NaN

                RENAL_CHRONIC                TOBACCO
    Porcentagem    Frequência Porcentagem Frequência Porcentagem
2     84.469590     1026665.0   97.910498   960979.0   91.646186  \
1     15.241256       18904.0    1.802828    84376.0    8.046730
12          NaN           NaN         NaN        NaN         NaN
4           NaN           NaN         NaN        NaN         NaN
6           NaN           NaN         NaN        NaN         NaN
..          ...           ...         ...        ...         ...
114         NaN           NaN         NaN        NaN         NaN
116         NaN           NaN         NaN        NaN         NaN
111         NaN           NaN         NaN        NaN         NaN
121         NaN           NaN         NaN        NaN         NaN
113         NaN           NaN         NaN        NaN         NaN

    CLASIFFICATION_FINAL                    ICU
              Frequência Porcentagem Frequência Porcentagem
2                 1851.0    0.176525   175685.0   16.754643
1                 8601.0    0.820256    16858.0    1.607706
12                   NaN         NaN        NaN         NaN
4                 3122.0    0.297737        NaN         NaN
6               128133.0   12.219727        NaN         NaN
..                   ...         ...        ...         ...
114                  NaN         NaN        NaN         NaN
116                  NaN         NaN        NaN         NaN
111                  NaN         NaN        NaN         NaN
121                  NaN         NaN        NaN         NaN
113                  NaN         NaN        NaN         NaN

[522 rows x 42 columns]

# 5 - Identifique os tipos de dados para cada variável (categórico, numérico...)

In [39]:
import pandas as pd

temporaryData = []

for col in covidData.columns:
    dataType = covidData[col].dtype
    temporaryData.append({'Variável': col, 'Tipo de dado': dataType})

typesData = pd.DataFrame(temporaryData)
typesData

                Variável Tipo de dado
0                  USMER        int64
1           MEDICAL_UNIT        int64
2                    SEX        int64
3           PATIENT_TYPE        int64
4              DATE_DIED       object
5                INTUBED        int64
6              PNEUMONIA        int64
7                    AGE        int64
8               PREGNANT        int64
9               DIABETES        int64
10                  COPD        int64
11                ASTHMA        int64
12               INMSUPR        int64
13          HIPERTENSION        int64
14         OTHER_DISEASE        int64
15        CARDIOVASCULAR        int64
16               OBESITY        int64
17         RENAL_CHRONIC        int64
18               TOBACCO        int64
19  CLASIFFICATION_FINAL        int64
20                   ICU        int64